{% extends 'base.html' %}
{% block body %}
    <!-- Navigation -->

    <section class="main-container col1-layout">
        <div class="main container">
            <div class="account-login">
                <div class="page-title">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                             {% if message.tags %}<div class="alert alert-danger" role="alert">{% endif %}{{ message }}</div>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h2>Login Account</h2>
                </div>
                <fieldset>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="registered-users"><strong>Registered Customers</strong>
                            <div class="content">
                                <p>If you have an account with us, please log in.</p>
                                <ul class="form-list">
                                    <li>
                                        <label>User Name<span class="required">*</span></label>
                                        <input type="text" title="user name" class="input-text required-entry" value=""
                                               name="username">
                                    </li>
                                    <li>
                                        <label for="pass">Password <span class="required">*</span></label>
                                        <input type="password" title="Password" id="pass"
                                               class="input-text required-entry validate-password"
                                               name="password">
                                    </li>
                                </ul>
                                <p class="required">* Required Fields</p>
                                <div class="buttons-set">
                                    <button name="send" type="submit" class="button login"><span>Login</span></button>
                                    <br>
                                    <a class="forgot-word" href="{% url 'reset_password' %}" style="font-size: 16px;">Forgot
                                        Your
                                        Password?</a>
                                    <p class="small fw-bold mt-2 pt-1 mb-0" style="font-size: 14px;">Don't have an
                                        account?
                                        <button><a href="{% url 'registration' %}" class="forgot-word">Register</a>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock %}