{% extends 'base.html' %}
{% block body %}
    <section class="main-container col1-layout">
        <div class="main container">
            <div class="account-login">
                <div class="page-title">


                    <h2>Reset your Password</h2>
                </div>
                <fieldset>
                    <form method="POST">
                        {% csrf_token %}
                         {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if message.tags %}
                                    <div class="alert alert-danger" role="alert">{% endif %}{{ message }}</div>
                            {% endfor %}
                        </ul>
                    {% endif %}

                            <div class="content">
                                <p>If you forgot your password, enter your register email.</p>
                                <ul class="form-list">
                                    <li>
                                        <label>Email<span class="required">*</span></label>
                                        <input type="text" title="email" class="input-text required-entry" value=""
                                               name="email">
                                    </li>

                                </ul>
                                <p class="required">* Required Fields</p>
                                <div class="buttons-set">
                                    <button name="send" type="submit" class="btn-danger"><span>Submit</span></button>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock %}